    <div style="margin:50px;" align="center" class="row">
          <% @shop.each do |shop|%>
            <div class="col s4">
             <a href="home/show/<%=shop.id%>"> <div class="card">
                <div class="card-image">
                  <img src="<%=shop.image_url%>">
                  <span class="card-title"><%=shop.title%></span>
                </div>
                <div class="card-content">
                  <p><%=shop.address%></p>
                  <p><%=shop.email%></p>
                </div>
              </div> 
             </a>
           </div>
          <% end %>
        </div>